body {
	@include transition(all 350ms $ease-in-out-quad);
 	&.isOpenMenu {
 		background-color: $bgMenuOpen;

 		.logo { 			
 			top: -20vh;
 			background-color: transparent; 			
 			@include opacity(0);
 		}

 		// BOTONERA
 		.menu {
 			@extend %menuOpen;
 			span {
 				&:last-child {
 					@include transform(rotate(150deg) !important);
 				}
 			}
 		}

 		// SECTION MENU OPEN
 		.openmenu {
 			background-color: $bgMenuOpen;
 			@include opacity(1);
 			left: 0;
 			visibility: visible;
 		}

 		// fullSlider
 		.fullslide__image {
 			display: none;
 		}
	}
}


