%minHeight {
	min-height: 100%;
	height: 100%;
}

%bigTitle {
	display: table;	
	color: #333333;
	
	@include break(xs){
		font-size: 18px;
	}
	@include break(sm){
		font-size: 24px;
	}
	@include break(md){
		font-size: 30px;
	}
}

%animatTime {
	@include transition($animaTimingSection);
	@include transition-delay($delay1);
}