%menuOpen {
	span {
		@include transform(rotate(30deg) !important);
	}
}

%minHeight {
	min-height: 100%;
	height: 100%;
}

%bigTitle {
	display: table;
	@include background(linear-gradient(to left, #e76b70 10%, #e88e92 100%));			
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;	
	@-moz-document url-prefix() {
		background-image: none;
	  color: #e88e92;
	}	
	@include break(xs){
		font-size: 38px;
	}
	@include break(sm){
		font-size: 47px;
	}
	@include break(md){
		font-size: 50px;
	}
}

%animatTime {
	@include transition($animaTimingSection);
	@include transition-delay($delay1);
}