:root {
  font-size: $root;
}

//////////////////////////

// PlayFair font
.playfair {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

//////////////////////////

// Roboto fonts
.roboto,
.robotoBold {
  font-family: 'Roboto', sans-serif;
}

// roboto variants
.roboto {  
  font-weight: 400;
}
.robotoBold {
  font-weight: 700;
}