.modal {
	&-dialog {
		padding: 0;
		border: 0;
		width: 100%;	
		height: 100%;	
		margin: 0;		
	}
	&-header {
		position: absolute;
		top: 0;
		right: 0;
		border: 0;
		z-index: 999999999;		
		@include display(flex);
		@include break(xs){
			right:1.10em;
		}
		.close {
			@include opacity(1);
			@include text-shadow(0, 0, 0, transparent);
			color: $blanco;
			font-size: 4em;
			font-size: 100;			
			z-index: 999999999;

			// Menu CLose
			.menu { 			
	 			span {
	 				@include transition-delay($delay1*1.1 !important);
	 				@include transform(rotate(30deg));
	 				&:first-child, &:nth-child(2) {
	 					@include transform(rotate(30deg) !important);
	 				}
	 				&:last-child {
	 					@include transform(rotate(150deg) !important);
	 				}
	 			}
	 		}
		}
	}
	&-content {
		background-color: $btnView;
		height: 100%;
		border: 0;
		@include border-radius(0);
	}

	&-body {
		height: 100%;
		padding: 0;

		.embed-responsive {
			height: 100%;
			padding: 0;
		}
	}
}