body {
	@include transition($trans);
 	&.isOpenMenu {
 		background-color: $bgMenuOpen;

 		.logo { 			
 			top: -20vh;
 			background-color: transparent; 			
 			@include opacity(0);
 		}

 		// BOTONERA
 		.menu {
 			@extend %menuOpen;
 			span {
 				&:last-child {
 					@include transform(rotate(150deg) !important);
 				}
 			}
 		}

 		// SECTION MENU OPEN
 		.openmenu {
 			background-color: $bgMenuOpen;
 			@include opacity(1);
 			left: 0;
 			visibility: visible;
 		}

 		// fullSlider
 		.section { 			
 			@include transform(translateX(100%));	
 			img {
 				@include opacity(0);
 			} 		
	 	}
	 	.fullslide__image__thumbs,.swiper-slide,.pagination-wrapper {display: none;}
	 	.gallery-thumbs {
	 		@include transform(translateX(-50%) translateY(-100vh));
	 	}
	}
}


