body {	
	@include transition($trans);
 	&.isOpenMenu {
 		//background-color: $bgMenuOpen;

 		.logo { 			
 			top: -20vh;
 			background-color: transparent; 			
 			@include opacity(0);
 		}

 		// BOTONERA
 		.menu {
 			@extend %menuOpen;
 			span {
 				&:last-child {
 					@include transform(rotate(150deg) !important);
 				}
 			}
 		}

 		.openmenu {
 			position: fixed;
			//min-height: 100%;
			height: 100%;
 		}

 		// fullSlider
 		.section { 			
 			//@include transform(translateX(100%));	
 			img {
 				@include opacity(0);
 			} 		
	 	}
	 	.fullslide__image {
	 		@include transform(translateX(-2850px));
	 	}
	 	// .fullslide__image__thumbs,.swiper-slide,.pagination-wrapper {display: none;}
	 	.gallery-thumbs {
	 		left: 100%;
	 	}
	}
}


