// ROOT FONT SIZE
$root 			: 13px;

// ANIMATIONS
$trans 				: all 300ms cubic-bezier(.19,1,.22,1);
$longTrans 		: all 550ms cubic-bezier(.19,1,.22,1);
$widthTrans   : all 500ms cubic-bezier(.19,1,.22,1);


$animaTimingSection : 500ms;
// DALAY SECTIONS
$delay1 : 500ms;



// COLORS
$blanco			: #ffffff;
$negro			: #000000; // menu hamburguesa

// SITES COLORS
$gold		     	: #d0a887; // title
$piel 				: #de8e91;		
$btnView			: #262626; // "view collection" btn / hover state paginador carousel

// GREYS
$greyB			: #333333; // border bottom color BTN  -- right line BTN "view collection"
$greyC			: #f4f4f4; // bg center image carousel
$greyD      : #e5e5e5; // color left BTN "view collection"

$borderMenu	: #d8d8d8;
$linkHover	: #cccccc;


// STATES COLORS
$btnViewHover	: #c7c7c7; // hover BTN "view collection"
$bgMenuOpen 	: #1b1b1b; // bg menu abierto


// PADDING BODY / IMGS
$padd 				: 20px;
$paddMobile 	: 14px;

// menuoepn
$paddMenuOpen		: 42px;
$paddMenuOpenXS	: 29px;

/// half
$topxsPaginador : 75px;
$mtTitle 				: 63px;

// xs paginator / arrow
$pp : 1.85em;

// 
$paginationLeft : 5vh;

// calcs
$calcLeft 	: 50% - #{$paginationLeft} - #{$padd};
$calcLeftXS : 50% - #{$paddMobile};

// INTERNAS
$firstSec : 17%; // Alto mobile de secciones internas


