// img {
// 	&.picture{
// 	}
// }

h1 {
	&.title {
		@extend .playfair;
		font-style: italic;
	}
}

// GRID BG
.grid {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	pointer-events:none;
	z-index: -1;

	&-wrap {
		width: 100%;
		height: 100%;
		@include display(flex);	
		@include justify-content(space-around);
		@include align-items(center);	
	}

	&-line {
		position: relative;
		background-color: rgba($negro, 0.05);
		width: 1px;
		height: 100%;
	}
}

// ANIMATION CONTROL
.section {
	@include transition($animaTimingSection);
	@include transition-delay($delay1);
}

// FULL SLIDER
.fullslide {	
	position: relative;
	@include make-xs-column(12);
	padding: 0;
	@extend %minHeight;
	@include transition-delay($delay1);

	// NOMBRE SLIDE
	.fullslide__name {
		position: relative;
		margin-top: 10vh;
		h1 {
			line-height: 1.16;
			@extend %bigTitle;
		}
	}	
	
	// PAGINATION
	.pagination-wrapper {
		position: absolute;
		bottom: 47px;
		left: $paginationLeft;
		width: calc(#{$calcLeft});
		@include transition($animaTimingSection);
		@include transition-delay($delay1);
	}
	.swiper-pagination {
		position: relative;
		left: -($paginationLeft/2);

		// LIs
		&-bullet {
			@include transition($trans);
			@extend .roboto;
			float: left;
			color: $btnView;
			font-size: 14px;
			margin: 0 17px !important;
			background-color: transparent;
			@include opacity(0.5);
			width: auto;
			height: auto;
			list-style-type: decimal-leading-zero;

			&-active {
				@extend .robotoBold;
				position: relative;
				@include opacity(1);
				&:after {
					$hh	: 42px;
					content: '';
					left: 50%;
					bottom: -($hh)-10;
					position: absolute;
					background-color: $btnView;
					width: 2px;
					height: ($hh);
				}
			}
		}
	}

	////////////////////////////////////////

	// IMAGENES - UL
	&__image {		
		@extend %minHeight;
		@include make-xs-column(6);		
		left: 50%;
		padding: 0;

		@include transform(translateX(0px));
		@include transition($animaTimingSection);
		@include transition-delay($delay1);

		//  LI
		.swiper-slide {
			@extend %minHeight;
			height: 100%;
			//overflow: hidden;
			border: 20px solid $blanco;
			@include background-size(cover);		  
		  background-position: center;
		  background-repeat: no-repeat;		  
		}		
	}
}

.gallery-thumbs {
	$ss : 235px;

	position: absolute;
	left: 50%;
	top: 50%;
	@include transition($animaTimingSection);
	@include transition-delay($delay1);
  @include transform(translateX(-50%) translateY(-50%));

	&.swiper-container {
	  width: $ss;
	  height: $ss;
	  margin-left: auto;
	  margin-right: auto;
  }

  .swiper-slide {
  	overflow: visible !important;
  	&-active {
  		h3 {
  			display: block !important;
  		}
  	}
  }

  ////////////
  // THUMBS
	.fullslide__image__thumbs {		
		$pl : 80px;

		position: absolute;
		width: $ss;
		height: $ss;		
		left: 0;  		
		padding: 9px 9px 9px $pl;
		background-color: #f4f4f4;
		z-index: 99;		
		@include transition($animaTimingSection);
		@include transition-delay($delay1);

		// THUMB IMG
		.thumb {
			overflow: hidden;
			width: calc(#{$ss} - #{$pl} - 9px);
			height: 100%;
			@include background-size(cover);			
		}		
	}
}

.gallery-thumbs-name {
	position: absolute;
	z-index: 1;
	margin-left: -13.2em;
	top: 50%;
	left: 50%;		
	@include transform(translateX(-50%) translateY(-50%));	

	// underline
	&:after {
		@include transition($trans);
		content: '';
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		bottom: -$padd/4;
		background-color: #333333;
	}		

	// Line
	&:before {
		@include transition(all 200ms $ease-in-out-expo);
		content: '';
		position: absolute;
		top: 50%;
		left: -5em;
		width: 44px;
		height: 3px;
		background-color: #e5e5e5;
		z-index: -1;

	}				

	// HOVER STATE
	&:hover,
	&:focus {
		text-decoration: none;		
		&:after {
			background-color: $btnViewHover;
		}
		// Line
		&:before {
			left: 114%;
			color: #c7c7c7;
			background-color: #333333;
		}
		h3 {
			color: $btnViewHover;
			&.first {
				@include opacity(0);
				@include transform(translateY(-100%));	
			}
			&.second {
				@include opacity(1);
				@include transform(translateY(-100%));	
			}
		}
	}

	// &.live {
	// 	h3 {
	// 		// Line
	// 		&:before {
	// 			top: -$padd/2;
	// 			left: $padd/2;
	// 		}
	// 	}
	// 	&:hover,
	// 	&:focus {
	// 		h3 {
	// 			// Line
	// 			&:before {
	// 				left: $padd*5.5;
	// 			}
	// 		}
	// 	}
	// }

	&-text {
		position: relative;
		display: block;
		width:auto;
		height: auto;
		padding: 10px 0;
		overflow: hidden;
	}	
	h3 {
		$fz : 14px;
		@include transition($trans);
		position: relative;						
		@extend .robotoBold;
		font-size: $fz;
		color: $btnView;
		letter-spacing: 1.5px;		

		&.second {
			position: absolute;
			@include opacity(0);
			@include transform(translateY(80%));	
		}	
	}
}