////////////////////////////
////////// HEADER //////////
////////////////////////////
.logo {
	position: absolute;	
	background-color: $blanco;	
	z-index: 5;
	
	@extend %animatTime;

	&--mobile {
		padding: $paddMobile;
		bottom: 0;
		max-width: 50%;
		@include break(sm){
			display: none;
		}

	}
	&--desktop {
		padding: $padd;
		margin: $padd 0 0 $padd;
		top: -($padd);
		left: -($padd);
		max-width: calc(#{$padd*2} + 215px);
		@include break(xs){
			display: none;
		}
	}
}

.header {
	position: absolute;
	width: auto;
	left: 50%;
	@include transform(translateX(-50%));
	z-index: 99;
}

.menu {			
	position: relative;
	display: block;	
	margin: auto;
	top: 0;	
	background-color: $blanco;
	z-index: 99999;
	@extend .clearfix;
	@include break(xs){			
		$ss : 71.4px;
		position: absolute;
		width: $ss;
		right: 50%;
		margin-right: -$ss/2;
		padding: 34.218px 17.6px;
		@include transition($animaTimingSection);
		@include transition-delay($delay1);
	}	
	@include break(sm){
		$sd : 89px;
		width: $sd;
		padding: 42.5px 20.5px;
	}	

	// LINES MENU
	span {
		position: relative;
    top: 50%;
    display: block;
    width: 100%;
    border-top: 1px solid #000;
    margin-top: -1px;
    @include transition($trans !important);    
    @include break(xs){
  		@include transition-delay($delay1 !important); 	
  	}
    
    &:first-child {
    	@include transform(rotate(0deg) translateY(-12px));

    	@include break(xs){
    		@include transform(rotate(0deg) translateY(-0.8em));    	
    	}
    }
    &:nth-child(2) {
    	@include transform(rotate(0deg) translateY(0));
    }
    &:last-child {	    	
    	@include transform(rotate(0deg) translateY(12px));
    	@include break(xs){
    		@include transform(rotate(0deg) translateY(0.8em));
    	}
    }	    
	}	

	// HOVER 
  &:hover {
  	span {
			@include transform(rotate(30deg));
		}
  }	
}
