// HEADER 
.header {
	position: absolute;
	width: 100%;	

	.logo {
		position: absolute;
		margin: $padd 0 0 $padd;
		@include transition($trans);
		top: -($padd);
		left: -($padd);
		background-color: $blanco;
		padding: $padd;
		z-index: 5;
	}

	.menu {
		$transition : all .5s cubic-bezier(.19,1,.22,1);		
			
		position: relative;
		display: block;
		width: 89px;
		margin: auto;
		top: $padd/2.2;
		padding: 42px 20px;
		background-color: $blanco;
		z-index: 99999;
		@extend .clearfix;

		// HOVER 
    &:hover {
    	@extend %menuOpen;
    }

		// LINES MENU
		span {
			position: relative;
	    top: 50%;
	    display: block;
	    width: 100%;
	    border-top: 1px solid #000;
	    margin-top: -1px;
	    @include transition($transition);

	    &:first-child {
	    	@include transform(translateY(-12px));
	    }

	    &:last-child {
	    	@include transform(translateY(12px));
	    }	    
		}		
	}
}