////////////////////////////
//////// LOOK BOOK /////////
////////////////////////////

// TITLE
hgroup {
	position: relative;
	text-align: center;
	padding: 0;
	z-index: 10;
	@include break(xs){
		width: 50%;
		float: left;		
	}
	@include break(sm){
		top: 50%;
		right: -2em;
		@include transform(translateY(-50%));
	}

	h1 {
		@extend %bigTitle;		
		position: relative;
		float: right;
		@include break(xs){
			margin-top: -0.2em;
			font-size: 10vw;
			float: left;
		}

		// CUADRADO GRIS	
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 50%;			
			background-color: #f4f4f4;
			z-index: -1;
			width: 145px;
			height: 145px;
			@include transform(translateY(-50%));
			@include break(xs){
				display: none;
			}
			@include break(sm){
				right: -1.4em;
			}
		}		
	}
}

// BOTÓN BACK
.back__button {
	$colorHover : #c8c8c8;
	position: absolute;
	width: 100%;
	top: 74%;	
	@include transform(translateY(-50%));
	@include break(xs){
		width: 50%;
		position: relative;
		top: 0;
		float: right;
		margin-top: 1.25vh;
		@include transform(translateX(0) translateY(0));
	}
	@include break(sm){
		right: 4em;
	}	
	&:hover,
	&:focus {
		a {			
			color: $colorHover;
			text-decoration: none;
			i {
				color: #262626;
				right: 3.4em;
				&:after {
					width: 10em;
					background-color: #262626;
				}
			}
		}
	}	
	a {		
		position: relative;
		@extend .robotoBold;
		color: #262626;
		letter-spacing: 1.5px;
		text-transform: uppercase;
		@include break(xs){
			float: right;
		}
		@include break(sm){
			float: right;
		}	
	}
	.back__icon {
		text-align: left;
		position: relative;
		color: $colorHover;
		i {
			@include transition($longTrans);
			position: relative;
			right: 1.54em;
			&:after {
				content: '';
				position: absolute;
				width: 8.2em;
				height: 2px;
				background-color: $colorHover;
				top: 50%;
				left: 1px;
				@include transition($longTrans);
				@include transform(translateX(0) translateY(-50%));
			}
		}
	}
}

////////////////////////////////////

// 
// SLIDER
.interna {
	position: relative;
	@include make-xs-column(12);
	@extend %minHeight;
	padding: $padd;

	// PRIMERA COLUMNA
	.col1 {
		position: relative;
		@include make-xs-column(12);
		//@include make-sm-column(3);
		padding: 0;
		min-height: 100%;
		height: 100%;
		@include break(xs){
			min-height: calc(#{$firstSec} - #{$padd} );
			height: calc(#{$firstSec} - #{$padd} );
			@include display(flex);
			@include justify-content(space-between);
			@include align-items(flex-start);
		}
		@include break(sm){
			width: 25%;
		}
		@include break(md){
			width: 18%;
		}
		@include break(lg){
			width: 15%;
		}
	}

	// SLIDER
	&__slider {
		@include make-xs-column(12);
		// @include make-sm-column(9);
		min-height: 100%;
		height: 100%;
		overflow: hidden;
		padding-right: 0;
		padding-left: 0;
		right: -$padd;
		@include break(xs){
			right: 0;
			width: 100vw;
			margin-left: -($padd);
			min-height: calc(83% + #{$padd});
			height: calc(83% + #{$padd});
		}
		@include break(sm){
			width: 75%;
		}
		@include break(md){
			width: 82%;
		}
		@include break(lg){
			width: 85%;
		}
		.swiper-wrapper {
			@include display(flex);	
			@include align-items(center);
			@extend %minHeight;
		}	
		.swiper-slide {
			//max-width:em(387.7px, $root);		
			@include transition($trans);
			width: auto;	
			@extend %minHeight;
			@include background-size(cover);
		  background-repeat: no-repeat;	
		  background-position: 50% 50% !important;		  
			@include break(xs){				
				width: 80vw;
			}
			@include break(sm){
				width: 45vw;
			}
			@include break(md){
				width: 45vw;
			}
			@include break(lg){
				width: 37vw;
			}

			// Prueba Imagenes
			&-figure {
		  	padding: 0;
		  	margin: 0;
		  	width: auto;
		  	@include display(inline-flex);
		  	@include align-items(center);
		  	@include flex-direction(row);
		  	@include flex-wrap(nowrap);
		  	@include justify-content(flex-start);		  	
		  	@include break(xs){				
					max-width: 100vw;
					height: auto;
				}
				figure {
					overflow: hidden;					
					min-height: 100%;
		  		height: 100%;
				  img {
						height: 100%;
						@extend .img-responsive;
						@include break(xs){
							height: auto;
						}
					}
				}
		  }

		  &-abs {
		  	position: relative;
		  	padding: 0;
		  	margin: 0;
		  	width: auto;
		  	@include break(xs){				
					max-width: 100vw;
					height: auto;
				}
				figure {
					overflow: hidden;
			  	width: auto;
			  	min-height: 100%;
		  		height: 100%;
			  	img {			  	
						height: 100%;
						@extend .img-responsive;
						@include break(xs){
							height: auto;
						}
					}
				}			  
		  }
		}
	}
}

