////////////////////////////
//////// MENU OPEN /////////
////////////////////////////
.openmenu {		
	background-color: $bgMenuOpen;	
	position: absolute;
	overflow: hidden;
	// min-height: 100%;
	// height: 100%;	
	height: 0;
	bottom: 0;
	left: 0;
	color: $blanco;
	z-index: 10;			
	// visibility: hidden;
	@include transition($widthTrans);
	@include transition-delay($delay1);
	//@include opacity(0);
	//display: none;


	&__mod {
		padding: $paddMenuOpen 0 $paddMenuOpen $paddMenuOpen;		
		height: 100%;
		@include display(flex);	
		@include justify-content(center);
		@include align-items(center);	
		@include break(sm){
			@include col('.col',2,5vw);
		}
		@include break(md){
			@include col('.col',2,14vw);
		}

		// COLUMNS
		.col {
			@include make-xs-column(12);
			@include make-sm-column(6);
		}
	}

	// DESCIPTION
	&__description {
		//@include align-self(flex-start);
		@include break(sm){
			margin-top: -15vh;
		}
		h1 {
			font-size: 34px;
		}
		p {
			@extend .roboto;
			color: #737373;
			padding-top: 3em;
			line-height: 1.85;			
		}

		.btn-link-gold {
			font-size: 16px;
			@extend .robotoBold;
			padding-top: 2em;
			text-decoration: underline;
			&:hover,
			&:focus {
				color: $blanco;
			}
		}		
	}
	
	// COLUMNA SECTIONS
	&__nav {
		position: relative;
		margin-top: -7vh;

		// NAVBAR SECTIONS
		&__navbar {
			a {
				@include transition($trans);
				overflow: hidden;
				position: relative;
				display: block;
				width: 100%;
				color: $blanco;
				@extend .playfair;
				font-style: italic;				
				color: $piel;
				font-size: 19px;
				@include opacity(0.25);
				padding: 0.45em 0 0.45em 1.8vw;		
				display: block;		

				// LINES
				&:after {
					@include opacity(1);		
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 1px;
					background-color: $borderMenu;
				}
				&:first-child {
					&:before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 1px;
						@include opacity(1);
						background-color: $borderMenu;
					}
				}

				strong {
					@extend .robotoBold;
					font-style: normal;
					font-size: 0.92857em;
					color: $blanco;
					margin-right: 1vw;
				}

				// IMAGENES
				figure {
					@include vertical-align(absolute);
					right: 0;
					@include opacity(0);
					@include transition($trans);

					// TRIANGLE - hide Image
					&:before {
						content: '';
						z-index: 1;
						position: absolute;						
						top:1px;
						left: 0;
						width: 1em;
						height: 100%;
						border-left: 3em solid $bgMenuOpen;
				    border-right: 0 solid $bgMenuOpen;
				    border-top: 65px solid transparent;				    
					}
					img {	
						z-index: -1;
						position: relative;				
						
					}
				}

				// HOVER / ACTIVE
				&:hover,
				&:focus,
				.active {
					text-decoration: none;
					@include opacity(1);
					&:after,
					&:before {
						@include opacity(0.85);
					}

					figure {
						@include opacity(1);
					}
				}
			}
		}

		// links
		.links {
			@extend .roboto;
			position: relative;
			margin-top: 5vh;
			li {
				font-size: 13px;
				line-height: 28px;
				color: #606060;
				&:first-child {
					margin-bottom: 30px;
				}
				a {
					color: $blanco;
					line-height: 1.7;
					&:hover,
					&:focus {
						text-decoration: underline;
						color: $gold;
					}
				}
			}
		}

		// Sociales
		.socials {
			margin-top: 2.5vh;
			a {
				display: inline-block;
				float: left;
				font-size: 1.8em;
				margin-right: 0.7em;
				color: $blanco;
				i {
					@include transition($trans);
				}
				&:hover,
				&:focus {
					color: $gold;
				}
			}
		}
	}
}