////////////////////////////
//////// MENU OPEN /////////
////////////////////////////
.openmenu {		
	background-color: $bgMenuOpen;	
	position: absolute;
	overflow: hidden;
	// min-height: 100%;
	// height: 100%;	
	height: 0;
	bottom: 0;
	left: 0;
	color: $blanco;
	z-index: 20;			
	// visibility: hidden;
	@extend %animatTime;
	//@include opacity(0);
	//display: none;
	@include break(xs){
		overflow-y: scroll; 
	}

	.container-fluid{
		@include break(xs){
			min-height: inherit;
			height: auto;
		}
	}


	&__mod {
		padding: $paddMenuOpen 0 $paddMenuOpen $paddMenuOpen;		
		height: 100%;
		@include display(flex);	
		@include justify-content(center);
		@include align-items(center);	
		
		@include break(xs){
			padding: $paddMenuOpenXS;
			@include flex-wrap(wrap);
		}
		@include break(sm){			
			@include col('.col',2,5vw);
		}
		@include break(md){
			@include col('.col',2,7vw);
		}

		// COLUMNS
		.col {
			@include make-xs-column(12);
			@include make-sm-column(6);
			@include break(xs){
				padding: 0;
			}
		}
	}

	// DESCIPTION
	&__description {
		//@include align-self(flex-start);
		@include break(xs){
			@include order(0);
			padding-top: 3vh;
			padding-bottom: 3vh;

		}
		@include break(sm){
			margin-top: -15vh;
		}
		h1 {
			font-size: 50px;
			@include break(xs){
				font-size: 40px;
				line-height: 48px;
			}
		}
		p {
			@extend .roboto;
			color: #737373;
			padding-top: 1.5em;
			line-height: 1.85;
			font-size: 12px;
			@include break(xs){
				padding-top: 2em;
				font-size: 15px;
			}	
		}

		.btn-link-gold {
			font-size: 16px;
			@extend .robotoBold;
			padding-top: 2em;
			text-decoration: underline;
			&:hover,
			&:focus {
				color: $blanco;
			}
		}		
	}
	
	// COLUMNA SECTIONS
	&__nav {
		position: relative;
		margin-top: -7vh;
		@include break(xs){
			margin-top: -3vh;
			margin-bottom: 2em;			
			@include order(-1);
			@include display(flex);	
			@include justify-content(space-between);
			@include align-items(center);	
		}

		// NAVBAR SECTIONS
		&__navbar {
			@include break(xs){
				@include align-self(flex-start);
				position: relative;
				width: 69%;
				@include transform(rotate(-90deg));
				left: -2em;
			}
			a {
				overflow: hidden;
				position: relative;
				display: block;
				width: 100%;
				color: $blanco;
				@extend .playfair;
				font-style: italic;				
				color: $piel;
				font-size: 19px;
				@include opacity(0.25);
				//@include transition($trans);
				border-top: 1px solid rgba($borderMenu, 0.45);
				border-bottom: 1px solid rgba($borderMenu, 0.45);
				padding: 0.75em 0 0.75em 0.5em;		
				display: block;				
				@include break(xs){
					padding: 3.2vw 2vw 3.2vw 0;
				}				

				// a del medio
				&:nth-child(2) {
					border:0;
					// LINES
					&:after,
					&:before {
						@include opacity(0);
						content: '';
						//@include transition($trans);					
						position: absolute;
						z-index: 999;
						width: 100%;
						height: 1px;
						background-color: rgba($borderMenu, 0.45);					
						left: 0;
					}
					&:after {
						bottom: 0;
					}
					&:before {
						top: 0;						
					}
				} 

				strong {
					@extend .robotoBold;
					font-style: normal;
					font-size: 0.92857em;
					color: $blanco;
					margin-right: 1vw;
				}

				// IMAGENES
				figure {
					@include vertical-align(absolute);
					right: 0;
					@include opacity(0);
					@include transition($trans);
					overflow: hidden;
					width: 35%;
					// TRIANGLE - hide Image
					&:before {
						@include opacity(1);
						content: '';
						z-index: 1;
						position: absolute;						
						top:50%;
						left: 0;
						width: 1em;
						height: 3em;
						border-left: 4em solid #1b1b1b;
				    border-right: 0 solid #1b1b1b;
				    border-top: 3em solid transparent;			    
				    @include transform(translateY(-50%));
					}
					
					img {	
						z-index: -1;
						position: relative;
					}
				}

				// HOVER / ACTIVE
				&:hover,
				&:focus,
				.active {
					text-decoration: none;
					@include opacity(1);
					border-color: rgba($borderMenu, 0.1);
					&:after,
					&:before {
						@include opacity(0.3);
					}

					@include break(sm){
						figure {
							@include opacity(1);
						}
					}
				}
			}
		}		
	}
}

// links
.links {
	@extend .roboto;
	position: relative;
	margin-top: 5vh;
	li {
		font-size: 13px;
		line-height: 28px;
		color: #606060;
		@include break(xs){
			font-size: 15px;
		}
		&:first-child {
			margin-bottom: 30px;
		}
		a {
			@include transition($trans);
			color: $blanco;
			line-height: 1.7;			
			&:hover,
			&:focus {
				text-decoration: underline;
				color: $linkHover;
			}
		}
	}
}

// Sociales
.socials {
	margin-top: 2.5vh;
	@include break(xs){
		margin-top: 19vw;
		@include display(flex);	
		@include justify-content(space-between);
		@include align-items(center);	
		@include flex-direction(column);
	}
	a {
		@include transition($trans);
		display: inline-block;
		float: left;
		font-size: 1.8em;
		margin-right: 0.7em;
		color: $blanco;
		@include break(xs){			
			text-align: center;
			width: 50px;
			display: block;
			margin: auto auto 0.5em auto;
		}
		i {
			@include transition($trans);			
		}
		&:hover,
		&:focus {
			color: $linkHover;
		}
	}
}