////////////////////////////
//////// MENU OPEN /////////
////////////////////////////
.openmenu {		
	background-color: $bgMenuOpen;	
	position: absolute;
	overflow: hidden;
	// min-height: 100%;
	// height: 100%;	
	height: 0;
	bottom: 0;
	left: 0;
	color: $blanco;
	z-index: 20;			
	// visibility: hidden;
	@extend %animatTime;
	@include transition-delay($delay1*1.1);
	//@include opacity(0);
	//display: none;
	@include break(xs){
		overflow-y: scroll; 
		width: 100%;
	}

	.container-fluid{
		@include break(xs){
			min-height: inherit;
			height: auto;
			padding: 0;
		}
	}


	&__mod {
		padding: 100px 0 $paddMenuOpen $paddMenuOpen;		
		height: 100%;		
		
		@include break(xs){
			padding: 0;
			@include display(flex);
			@include flex-wrap(wrap);
		}
		@include break(sm){			
			@include col('.col',2,5vw);
		}
		@include break(md){
			@include col('.col',2,7vw);		
		}

		// COLUMNS
		.col {
			@include make-xs-column(12);
			@include make-sm-column(6);
			@include break(xs){
				padding: 0;
			}
		}
	}

	// DESCIPTION
	&__description {
		//@include align-self(flex-start);
		@include break(xs){
			@include order(0);
			padding: 3vh $paddMenuOpenXS !important;
		}
		// @include break(sm){
		// 	margin-top: -5em;
		// }
		// @include break(md){
		// 	margin-top: -5em;
		// }
		h1 {			
			font-size: 40px;
			@include break(xs){				
				line-height: 48px;
			}
			&.title {
				@extend .playfair;
				text-transform: none;
				font-style: italic;
			}
		}
		p {
			float: left;
			@extend .roboto;
			color: #737373;
			padding-top: 1.5em;
			line-height: 1.85;
			font-size: 12px;
			@include break(xs){
				padding-top: 2em;
				font-size: 15px;
			}	
		}

		.btn-link-gold {
			
			@extend .robotoBold;			
			text-decoration: underline;
			@include break(sm){
				padding-top: 2em;
				font-size: 16px;
			}
			&:hover,
			&:focus {
				color: $blanco;
			}
		}		
	}
	
	// COLUMNA SECTIONS
	&__nav {
		position: relative;		
		// MOBILE
		@include break(xs){
			margin-top: 14vh;
			margin-bottom: 2em;			
			@include order(-1);
			@include display(flex);	
			@include justify-content(space-between);
			@include align-items(center);	
			width: 100vw !important;
		}
		@include break(sm){
			margin-top: 6.5em;
		}
		@include break(md){
			margin-top: 6.5em;
		}

		// NAVBAR SECTIONS
		&__navbar {
			@include break(xs){
				@include align-self(flex-start);
				position: relative;
				width: 100%;
				//@include transform(rotate(-90deg));
				//left: -2em;
			}
			a {
				overflow: hidden;
				position: relative;
				display: block;
				width: 100%;
				color: $blanco;
				@extend .oswald;
				text-transform: uppercase;				
				color: $blanco;
				font-size: 19px;
				@include opacity(0.25);
				//@include transition($trans);
				border-top: 1px solid rgba($borderMenu, 0.45);
				border-bottom: 1px solid rgba($borderMenu, 0.45);
				padding: 0.75em 0 0.75em 0.5em;		
				display: block;


				@include break(xs){
					padding: 3.2vw $paddMenuOpenXS;
				}				

				// <a> del medio
				&:nth-child(2) {
					border:0;
					// LINES
					&:after,
					&:before {
						@include opacity(0);
						content: '';
						//@include transition($trans);					
						position: absolute;
						z-index: 999;
						width: 100%;
						height: 1px;
						background-color: rgba($borderMenu, 0.45);					
						left: 0;
					}
					&:after {
						bottom: 0;
					}
					&:before {
						top: 0;						
					}
				} 

				strong {
					@extend .robotoBold;
					font-style: normal;
					font-size: 1em;
					color: $blanco;
					margin-right: 1vw;
				}

				// IMAGENES
				figure {
					@include vertical-align(absolute);
					right: 0;
					@include opacity(0);
					@include transition($trans);
					overflow: hidden;
					height: 100%;
					z-index: -1;
					@include break(sm){
						width: 8em;
					}
					@include break(md){
						width: 8em;
					}
					// TRIANGLE - hide Image
					&:before {
						@include opacity(1);
						content: '';
						z-index: 1;
						position: absolute;						
						top:50%;
						left: 0;
						width: 1em;
						height: 3em;
						border-left: 3em solid #1b1b1b;
					    border-right: 0 solid #1b1b1b;
					    border-top: 3em solid transparent;			    
					    @include transform(translateY(-50%));
					}
					
					img {	
						z-index: -1;
						position: absolute;
						top: 50%;
						right: 0;
						@include transform(translateY(-50%));
					}
				}

				// HOVER / ACTIVE
				&:hover,
				&:focus,
				.active {
					text-decoration: none;
					@include opacity(1);
					border-color: rgba($borderMenu, 0.1);
					&:after,
					&:before {
						@include opacity(0.3);
					}

					@include break(sm){
						figure {
							@include opacity(0.7);
						}
					}
				}
			}
		}		
	}
}

// links
.links {
	@extend .roboto;
	position: relative;
	margin-top: 4vh;
	@include break(sm){
		float: left;
    width: 100%;
	}
	li {		
		color: #606060;
		&:first-child {
			margin-bottom: 15px;
			@include break(xs){
				padding-top: 2em;
			}
		}
		a {
			@include transition($trans);
			color: $blanco;
			line-height: 1.7;			
			font-size: 13px;
			line-height: 28px;
			
			@include break(xs){
				font-size: 15px;
			}
			&:hover,
			&:focus {
				text-decoration: underline;
				color: $linkHover;
			}
		}
	}
}

// Sociales
.socials {
	position: relative;
	margin-top: 2.5vh;
	@include break(sm){
		float: left;
	}
	@include break(xs){
		margin-top: 2vw;
		margin-bottom: 2vw;
		left: -1.2em;
		@include display(flex);	
		@include justify-content(space-between);
		@include align-items(center);	
		@include flex-direction(column);
	}
	a {
		@include transition($trans);
		display: inline-block;
		float: left;
		font-size: 1.8em;
		margin-right: 0.7em;
		color: $blanco;
		@include break(xs){			
			text-align: center;
			width: 50px;
			display: block;
			margin: auto;			
		}
		i {
			@include transition($trans);			
		}
		&:hover,
		&:focus {
			color: $linkHover;
		}
	}
}