{
  "name": "katieann",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "sass/styles.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"html/styles/styles.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "js/actions.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"html/scripts/actions.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "files/font-awesome.css",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"html/styles/font-awesome.min.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "files",
      "js",
      "html",
      "sass"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "sass/styles.scss",
      "imports": [
        "sass/_bootstrap.scss",
        "sass/_variables.scss",
        "sass/_mixins.scss",
        "sass/_fonts.scss",
        "sass/_animations.scss",
        "sass/bases.scss",
        "sass/_extends.scss",
        "sass/_utiles.scss",
        "sass/header.scss",
        "sass/menuOpen.scss",
        "sass/estructura.scss",
        "sass/lookbook.scss",
        "sass/_states.scss",
        "sass/bootstrap/_variables.scss",
        "sass/bootstrap/_mixins.scss",
        "sass/bootstrap/_normalize.scss",
        "sass/bootstrap/_print.scss",
        "sass/bootstrap/_glyphicons.scss",
        "sass/bootstrap/_scaffolding.scss",
        "sass/bootstrap/_type.scss",
        "sass/bootstrap/_code.scss",
        "sass/bootstrap/_grid.scss",
        "sass/bootstrap/_tables.scss",
        "sass/bootstrap/_forms.scss",
        "sass/bootstrap/_buttons.scss",
        "sass/bootstrap/_component-animations.scss",
        "sass/bootstrap/_dropdowns.scss",
        "sass/bootstrap/_button-groups.scss",
        "sass/bootstrap/_input-groups.scss",
        "sass/bootstrap/_navs.scss",
        "sass/bootstrap/_navbar.scss",
        "sass/bootstrap/_breadcrumbs.scss",
        "sass/bootstrap/_pagination.scss",
        "sass/bootstrap/_pager.scss",
        "sass/bootstrap/_labels.scss",
        "sass/bootstrap/_badges.scss",
        "sass/bootstrap/_jumbotron.scss",
        "sass/bootstrap/_thumbnails.scss",
        "sass/bootstrap/_alerts.scss",
        "sass/bootstrap/_progress-bars.scss",
        "sass/bootstrap/_media.scss",
        "sass/bootstrap/_list-group.scss",
        "sass/bootstrap/_panels.scss",
        "sass/bootstrap/_responsive-embed.scss",
        "sass/bootstrap/_wells.scss",
        "sass/bootstrap/_close.scss",
        "sass/bootstrap/_modals.scss",
        "sass/bootstrap/_tooltip.scss",
        "sass/bootstrap/_popovers.scss",
        "sass/bootstrap/_carousel.scss",
        "sass/bootstrap/_utilities.scss",
        "sass/bootstrap/_responsive-utilities.scss",
        "sass/bootstrap/mixins/_hide-text.scss",
        "sass/bootstrap/mixins/_opacity.scss",
        "sass/bootstrap/mixins/_image.scss",
        "sass/bootstrap/mixins/_labels.scss",
        "sass/bootstrap/mixins/_reset-filter.scss",
        "sass/bootstrap/mixins/_resize.scss",
        "sass/bootstrap/mixins/_responsive-visibility.scss",
        "sass/bootstrap/mixins/_size.scss",
        "sass/bootstrap/mixins/_tab-focus.scss",
        "sass/bootstrap/mixins/_reset-text.scss",
        "sass/bootstrap/mixins/_text-emphasis.scss",
        "sass/bootstrap/mixins/_text-overflow.scss",
        "sass/bootstrap/mixins/_vendor-prefixes.scss",
        "sass/bootstrap/mixins/_alerts.scss",
        "sass/bootstrap/mixins/_buttons.scss",
        "sass/bootstrap/mixins/_panels.scss",
        "sass/bootstrap/mixins/_pagination.scss",
        "sass/bootstrap/mixins/_list-group.scss",
        "sass/bootstrap/mixins/_nav-divider.scss",
        "sass/bootstrap/mixins/_forms.scss",
        "sass/bootstrap/mixins/_progress-bar.scss",
        "sass/bootstrap/mixins/_table-row.scss",
        "sass/bootstrap/mixins/_background-variant.scss",
        "sass/bootstrap/mixins/_border-radius.scss",
        "sass/bootstrap/mixins/_gradients.scss",
        "sass/bootstrap/mixins/_clearfix.scss",
        "sass/bootstrap/mixins/_center-block.scss",
        "sass/bootstrap/mixins/_nav-vertical-align.scss",
        "sass/bootstrap/mixins/_grid-framework.scss",
        "sass/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "sass/_animate.scss",
      "imports": [
        "sass/animate/_properties.scss",
        "sass/animate/_fading-entrances/fading-entrances.scss",
        "sass/animate/_fading-exits/fading-exits.scss",
        "sass/animate/_fading-entrances/_fadeIn.scss",
        "sass/animate/_fading-entrances/_fadeInDown.scss",
        "sass/animate/_fading-entrances/_fadeInDownBig.scss",
        "sass/animate/_fading-entrances/_fadeInLeft.scss",
        "sass/animate/_fading-entrances/_fadeInLeftBig.scss",
        "sass/animate/_fading-entrances/_fadeInRight.scss",
        "sass/animate/_fading-entrances/_fadeInRightBig.scss",
        "sass/animate/_fading-entrances/_fadeInUp.scss",
        "sass/animate/_fading-entrances/_fadeInUpBig.scss",
        "sass/animate/_fading-exits/_fadeOut.scss",
        "sass/animate/_fading-exits/_fadeOutDown.scss",
        "sass/animate/_fading-exits/_fadeOutDownBig.scss",
        "sass/animate/_fading-exits/_fadeOutLeft.scss",
        "sass/animate/_fading-exits/_fadeOutLeftBig.scss",
        "sass/animate/_fading-exits/_fadeOutRight.scss",
        "sass/animate/_fading-exits/_fadeOutRightBig.scss",
        "sass/animate/_fading-exits/_fadeOutUp.scss",
        "sass/animate/_fading-exits/_fadeOutUpBig.scss"
      ]
    },
    {
      "path": "sass/_bootstrap.scss",
      "imports": [
        "sass/bootstrap/_variables.scss",
        "sass/bootstrap/_mixins.scss",
        "sass/bootstrap/_normalize.scss",
        "sass/bootstrap/_print.scss",
        "sass/bootstrap/_glyphicons.scss",
        "sass/bootstrap/_scaffolding.scss",
        "sass/bootstrap/_type.scss",
        "sass/bootstrap/_code.scss",
        "sass/bootstrap/_grid.scss",
        "sass/bootstrap/_tables.scss",
        "sass/bootstrap/_forms.scss",
        "sass/bootstrap/_buttons.scss",
        "sass/bootstrap/_component-animations.scss",
        "sass/bootstrap/_dropdowns.scss",
        "sass/bootstrap/_button-groups.scss",
        "sass/bootstrap/_input-groups.scss",
        "sass/bootstrap/_navs.scss",
        "sass/bootstrap/_navbar.scss",
        "sass/bootstrap/_breadcrumbs.scss",
        "sass/bootstrap/_pagination.scss",
        "sass/bootstrap/_pager.scss",
        "sass/bootstrap/_labels.scss",
        "sass/bootstrap/_badges.scss",
        "sass/bootstrap/_jumbotron.scss",
        "sass/bootstrap/_thumbnails.scss",
        "sass/bootstrap/_alerts.scss",
        "sass/bootstrap/_progress-bars.scss",
        "sass/bootstrap/_media.scss",
        "sass/bootstrap/_list-group.scss",
        "sass/bootstrap/_panels.scss",
        "sass/bootstrap/_responsive-embed.scss",
        "sass/bootstrap/_wells.scss",
        "sass/bootstrap/_close.scss",
        "sass/bootstrap/_modals.scss",
        "sass/bootstrap/_tooltip.scss",
        "sass/bootstrap/_popovers.scss",
        "sass/bootstrap/_carousel.scss",
        "sass/bootstrap/_utilities.scss",
        "sass/bootstrap/_responsive-utilities.scss",
        "sass/bootstrap/mixins/_hide-text.scss",
        "sass/bootstrap/mixins/_opacity.scss",
        "sass/bootstrap/mixins/_image.scss",
        "sass/bootstrap/mixins/_labels.scss",
        "sass/bootstrap/mixins/_reset-filter.scss",
        "sass/bootstrap/mixins/_resize.scss",
        "sass/bootstrap/mixins/_responsive-visibility.scss",
        "sass/bootstrap/mixins/_size.scss",
        "sass/bootstrap/mixins/_tab-focus.scss",
        "sass/bootstrap/mixins/_reset-text.scss",
        "sass/bootstrap/mixins/_text-emphasis.scss",
        "sass/bootstrap/mixins/_text-overflow.scss",
        "sass/bootstrap/mixins/_vendor-prefixes.scss",
        "sass/bootstrap/mixins/_alerts.scss",
        "sass/bootstrap/mixins/_buttons.scss",
        "sass/bootstrap/mixins/_panels.scss",
        "sass/bootstrap/mixins/_pagination.scss",
        "sass/bootstrap/mixins/_list-group.scss",
        "sass/bootstrap/mixins/_nav-divider.scss",
        "sass/bootstrap/mixins/_forms.scss",
        "sass/bootstrap/mixins/_progress-bar.scss",
        "sass/bootstrap/mixins/_table-row.scss",
        "sass/bootstrap/mixins/_background-variant.scss",
        "sass/bootstrap/mixins/_border-radius.scss",
        "sass/bootstrap/mixins/_gradients.scss",
        "sass/bootstrap/mixins/_clearfix.scss",
        "sass/bootstrap/mixins/_center-block.scss",
        "sass/bootstrap/mixins/_nav-vertical-align.scss",
        "sass/bootstrap/mixins/_grid-framework.scss",
        "sass/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "sass/bootstrap/_mixins.scss",
      "imports": [
        "sass/bootstrap/mixins/_hide-text.scss",
        "sass/bootstrap/mixins/_opacity.scss",
        "sass/bootstrap/mixins/_image.scss",
        "sass/bootstrap/mixins/_labels.scss",
        "sass/bootstrap/mixins/_reset-filter.scss",
        "sass/bootstrap/mixins/_resize.scss",
        "sass/bootstrap/mixins/_responsive-visibility.scss",
        "sass/bootstrap/mixins/_size.scss",
        "sass/bootstrap/mixins/_tab-focus.scss",
        "sass/bootstrap/mixins/_reset-text.scss",
        "sass/bootstrap/mixins/_text-emphasis.scss",
        "sass/bootstrap/mixins/_text-overflow.scss",
        "sass/bootstrap/mixins/_vendor-prefixes.scss",
        "sass/bootstrap/mixins/_alerts.scss",
        "sass/bootstrap/mixins/_buttons.scss",
        "sass/bootstrap/mixins/_panels.scss",
        "sass/bootstrap/mixins/_pagination.scss",
        "sass/bootstrap/mixins/_list-group.scss",
        "sass/bootstrap/mixins/_nav-divider.scss",
        "sass/bootstrap/mixins/_forms.scss",
        "sass/bootstrap/mixins/_progress-bar.scss",
        "sass/bootstrap/mixins/_table-row.scss",
        "sass/bootstrap/mixins/_background-variant.scss",
        "sass/bootstrap/mixins/_border-radius.scss",
        "sass/bootstrap/mixins/_gradients.scss",
        "sass/bootstrap/mixins/_clearfix.scss",
        "sass/bootstrap/mixins/_center-block.scss",
        "sass/bootstrap/mixins/_nav-vertical-align.scss",
        "sass/bootstrap/mixins/_grid-framework.scss",
        "sass/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "sass/bootstrap/_theme.scss",
      "imports": [
        "sass/bootstrap/_variables.scss",
        "sass/bootstrap/_mixins.scss",
        "sass/bootstrap/mixins/_hide-text.scss",
        "sass/bootstrap/mixins/_opacity.scss",
        "sass/bootstrap/mixins/_image.scss",
        "sass/bootstrap/mixins/_labels.scss",
        "sass/bootstrap/mixins/_reset-filter.scss",
        "sass/bootstrap/mixins/_resize.scss",
        "sass/bootstrap/mixins/_responsive-visibility.scss",
        "sass/bootstrap/mixins/_size.scss",
        "sass/bootstrap/mixins/_tab-focus.scss",
        "sass/bootstrap/mixins/_reset-text.scss",
        "sass/bootstrap/mixins/_text-emphasis.scss",
        "sass/bootstrap/mixins/_text-overflow.scss",
        "sass/bootstrap/mixins/_vendor-prefixes.scss",
        "sass/bootstrap/mixins/_alerts.scss",
        "sass/bootstrap/mixins/_buttons.scss",
        "sass/bootstrap/mixins/_panels.scss",
        "sass/bootstrap/mixins/_pagination.scss",
        "sass/bootstrap/mixins/_list-group.scss",
        "sass/bootstrap/mixins/_nav-divider.scss",
        "sass/bootstrap/mixins/_forms.scss",
        "sass/bootstrap/mixins/_progress-bar.scss",
        "sass/bootstrap/mixins/_table-row.scss",
        "sass/bootstrap/mixins/_background-variant.scss",
        "sass/bootstrap/mixins/_border-radius.scss",
        "sass/bootstrap/mixins/_gradients.scss",
        "sass/bootstrap/mixins/_clearfix.scss",
        "sass/bootstrap/mixins/_center-block.scss",
        "sass/bootstrap/mixins/_nav-vertical-align.scss",
        "sass/bootstrap/mixins/_grid-framework.scss",
        "sass/bootstrap/mixins/_grid.scss"
      ]
    },
    {
      "path": "sass/bourbon/_bourbon.scss",
      "imports": [
        "sass/bourbon/settings/_prefixer.scss",
        "sass/bourbon/settings/_px-to-em.scss",
        "sass/bourbon/settings/_asset-pipeline.scss",
        "sass/bourbon/functions/_assign-inputs.scss",
        "sass/bourbon/functions/_contains.scss",
        "sass/bourbon/functions/_contains-falsy.scss",
        "sass/bourbon/functions/_is-length.scss",
        "sass/bourbon/functions/_is-light.scss",
        "sass/bourbon/functions/_is-number.scss",
        "sass/bourbon/functions/_is-size.scss",
        "sass/bourbon/functions/_px-to-em.scss",
        "sass/bourbon/functions/_px-to-rem.scss",
        "sass/bourbon/functions/_shade.scss",
        "sass/bourbon/functions/_strip-units.scss",
        "sass/bourbon/functions/_tint.scss",
        "sass/bourbon/functions/_transition-property-name.scss",
        "sass/bourbon/functions/_unpack.scss",
        "sass/bourbon/functions/_modular-scale.scss",
        "sass/bourbon/helpers/_convert-units.scss",
        "sass/bourbon/helpers/_directional-values.scss",
        "sass/bourbon/helpers/_font-source-declaration.scss",
        "sass/bourbon/helpers/_gradient-positions-parser.scss",
        "sass/bourbon/helpers/_linear-angle-parser.scss",
        "sass/bourbon/helpers/_linear-gradient-parser.scss",
        "sass/bourbon/helpers/_linear-positions-parser.scss",
        "sass/bourbon/helpers/_linear-side-corner-parser.scss",
        "sass/bourbon/helpers/_radial-arg-parser.scss",
        "sass/bourbon/helpers/_radial-positions-parser.scss",
        "sass/bourbon/helpers/_radial-gradient-parser.scss",
        "sass/bourbon/helpers/_render-gradients.scss",
        "sass/bourbon/helpers/_shape-size-stripper.scss",
        "sass/bourbon/helpers/_str-to-num.scss",
        "sass/bourbon/css3/_animation.scss",
        "sass/bourbon/css3/_appearance.scss",
        "sass/bourbon/css3/_backface-visibility.scss",
        "sass/bourbon/css3/_background.scss",
        "sass/bourbon/css3/_background-image.scss",
        "sass/bourbon/css3/_border-image.scss",
        "sass/bourbon/css3/_calc.scss",
        "sass/bourbon/css3/_columns.scss",
        "sass/bourbon/css3/_filter.scss",
        "sass/bourbon/css3/_flex-box.scss",
        "sass/bourbon/css3/_font-face.scss",
        "sass/bourbon/css3/_font-feature-settings.scss",
        "sass/bourbon/css3/_hidpi-media-query.scss",
        "sass/bourbon/css3/_hyphens.scss",
        "sass/bourbon/css3/_image-rendering.scss",
        "sass/bourbon/css3/_keyframes.scss",
        "sass/bourbon/css3/_linear-gradient.scss",
        "sass/bourbon/css3/_perspective.scss",
        "sass/bourbon/css3/_placeholder.scss",
        "sass/bourbon/css3/_radial-gradient.scss",
        "sass/bourbon/css3/_selection.scss",
        "sass/bourbon/css3/_text-decoration.scss",
        "sass/bourbon/css3/_transform.scss",
        "sass/bourbon/css3/_transition.scss",
        "sass/bourbon/css3/_user-select.scss",
        "sass/bourbon/addons/_border-color.scss",
        "sass/bourbon/addons/_border-radius.scss",
        "sass/bourbon/addons/_border-style.scss",
        "sass/bourbon/addons/_border-width.scss",
        "sass/bourbon/addons/_buttons.scss",
        "sass/bourbon/addons/_clearfix.scss",
        "sass/bourbon/addons/_ellipsis.scss",
        "sass/bourbon/addons/_font-stacks.scss",
        "sass/bourbon/addons/_hide-text.scss",
        "sass/bourbon/addons/_margin.scss",
        "sass/bourbon/addons/_padding.scss",
        "sass/bourbon/addons/_position.scss",
        "sass/bourbon/addons/_prefixer.scss",
        "sass/bourbon/addons/_retina-image.scss",
        "sass/bourbon/addons/_size.scss",
        "sass/bourbon/addons/_text-inputs.scss",
        "sass/bourbon/addons/_timing-functions.scss",
        "sass/bourbon/addons/_triangle.scss",
        "sass/bourbon/addons/_word-wrap.scss",
        "sass/bourbon/_bourbon-deprecated-upcoming.scss"
      ]
    },
    {
      "path": "sass/animate/_attention-seekers/attention-seekers.scss",
      "imports": [
        "sass/animate/_attention-seekers/_bounce.scss",
        "sass/animate/_attention-seekers/_flash.scss",
        "sass/animate/_attention-seekers/_jello.scss",
        "sass/animate/_attention-seekers/_pulse.scss",
        "sass/animate/_attention-seekers/_rubberBand.scss",
        "sass/animate/_attention-seekers/_shake.scss",
        "sass/animate/_attention-seekers/_swing.scss",
        "sass/animate/_attention-seekers/_tada.scss",
        "sass/animate/_attention-seekers/_wobble.scss"
      ]
    },
    {
      "path": "sass/animate/_bouncing-entrances/bouncing-entrances.scss",
      "imports": [
        "sass/animate/_bouncing-entrances/_bounceIn.scss",
        "sass/animate/_bouncing-entrances/_bounceInDown.scss",
        "sass/animate/_bouncing-entrances/_bounceInLeft.scss",
        "sass/animate/_bouncing-entrances/_bounceInRight.scss",
        "sass/animate/_bouncing-entrances/_bounceInUp.scss"
      ]
    },
    {
      "path": "sass/animate/_bouncing-exits/bouncing-exits.scss",
      "imports": [
        "sass/animate/_bouncing-exits/_bounceOut.scss",
        "sass/animate/_bouncing-exits/_bounceOutDown.scss",
        "sass/animate/_bouncing-exits/_bounceOutLeft.scss",
        "sass/animate/_bouncing-exits/_bounceOutRight.scss",
        "sass/animate/_bouncing-exits/_bounceOutUp.scss"
      ]
    },
    {
      "path": "sass/animate/_fading-entrances/fading-entrances.scss",
      "imports": [
        "sass/animate/_fading-entrances/_fadeIn.scss",
        "sass/animate/_fading-entrances/_fadeInDown.scss",
        "sass/animate/_fading-entrances/_fadeInDownBig.scss",
        "sass/animate/_fading-entrances/_fadeInLeft.scss",
        "sass/animate/_fading-entrances/_fadeInLeftBig.scss",
        "sass/animate/_fading-entrances/_fadeInRight.scss",
        "sass/animate/_fading-entrances/_fadeInRightBig.scss",
        "sass/animate/_fading-entrances/_fadeInUp.scss",
        "sass/animate/_fading-entrances/_fadeInUpBig.scss"
      ]
    },
    {
      "path": "sass/animate/_fading-exits/fading-exits.scss",
      "imports": [
        "sass/animate/_fading-exits/_fadeOut.scss",
        "sass/animate/_fading-exits/_fadeOutDown.scss",
        "sass/animate/_fading-exits/_fadeOutDownBig.scss",
        "sass/animate/_fading-exits/_fadeOutLeft.scss",
        "sass/animate/_fading-exits/_fadeOutLeftBig.scss",
        "sass/animate/_fading-exits/_fadeOutRight.scss",
        "sass/animate/_fading-exits/_fadeOutRightBig.scss",
        "sass/animate/_fading-exits/_fadeOutUp.scss",
        "sass/animate/_fading-exits/_fadeOutUpBig.scss"
      ]
    },
    {
      "path": "sass/animate/_flippers/flippers.scss",
      "imports": [
        "sass/animate/_flippers/_flip.scss",
        "sass/animate/_flippers/_flipInX.scss",
        "sass/animate/_flippers/_flipInY.scss",
        "sass/animate/_flippers/_flipOutX.scss",
        "sass/animate/_flippers/_flipOutY.scss"
      ]
    },
    {
      "path": "sass/animate/_lightspeed/lightspeed.scss",
      "imports": [
        "sass/animate/_lightspeed/_lightSpeedIn.scss",
        "sass/animate/_lightspeed/_lightSpeedOut.scss"
      ]
    },
    {
      "path": "sass/animate/_rotating-entrances/rotating-entrances.scss",
      "imports": [
        "sass/animate/_rotating-entrances/_rotateIn.scss",
        "sass/animate/_rotating-entrances/_rotateInDownLeft.scss",
        "sass/animate/_rotating-entrances/_rotateInDownRight.scss",
        "sass/animate/_rotating-entrances/_rotateInUpLeft.scss",
        "sass/animate/_rotating-entrances/_rotateInUpRight.scss"
      ]
    },
    {
      "path": "sass/animate/_rotating-exits/rotating-exits.scss",
      "imports": [
        "sass/animate/_rotating-exits/_rotateOut.scss",
        "sass/animate/_rotating-exits/_rotateOutDownLeft.scss",
        "sass/animate/_rotating-exits/_rotateOutDownRight.scss",
        "sass/animate/_rotating-exits/_rotateOutUpLeft.scss",
        "sass/animate/_rotating-exits/_rotateOutUpRight.scss"
      ]
    },
    {
      "path": "sass/animate/_sliding-entrances/sliding-entrances.scss",
      "imports": [
        "sass/animate/_sliding-entrances/_slideInDown.scss",
        "sass/animate/_sliding-entrances/_slideInLeft.scss",
        "sass/animate/_sliding-entrances/_slideInRight.scss",
        "sass/animate/_sliding-entrances/_slideInUp.scss"
      ]
    },
    {
      "path": "sass/animate/_sliding-exits/sliding-exits.scss",
      "imports": [
        "sass/animate/_sliding-exits/_slideOutDown.scss",
        "sass/animate/_sliding-exits/_slideOutLeft.scss",
        "sass/animate/_sliding-exits/_slideOutRight.scss",
        "sass/animate/_sliding-exits/_slideOutUp.scss"
      ]
    },
    {
      "path": "sass/animate/_specials/specials.scss",
      "imports": [
        "sass/animate/_specials/_hinge.scss",
        "sass/animate/_specials/_rollIn.scss",
        "sass/animate/_specials/_rollOut.scss"
      ]
    },
    {
      "path": "sass/animate/_zooming-entrances/zooming-entrances.scss",
      "imports": [
        "sass/animate/_zooming-entrances/_zoomIn.scss",
        "sass/animate/_zooming-entrances/_zoomInDown.scss",
        "sass/animate/_zooming-entrances/_zoomInLeft.scss",
        "sass/animate/_zooming-entrances/_zoomInRight.scss",
        "sass/animate/_zooming-entrances/_zoomInUp.scss"
      ]
    },
    {
      "path": "sass/animate/_zooming-exits/zooming-exits.scss",
      "imports": [
        "sass/animate/_zooming-exits/_zoomOut.scss",
        "sass/animate/_zooming-exits/_zoomOutDown.scss",
        "sass/animate/_zooming-exits/_zoomOutLeft.scss",
        "sass/animate/_zooming-exits/_zoomOutRight.scss",
        "sass/animate/_zooming-exits/_zoomOutUp.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7887,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": true,
      "url": "http://localhost/katieann/html/"
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}